@charset "utf-8";
/* CSS Document */

.star-rating, .star-rating a:hover, .star-rating a:active, .star-rating a:focus, .star-rating .current-rating {
	background: url(../img/rating_star.gif) left -1000px repeat-x;
}
.star-rating {
	position:relative;
	width:70px;
	height:13px;
	overflow:hidden;
	list-style:none;
	padding:0 !important;
	background-position: left top;
	display:inline-block;
}
.star-rating li {
	display: inline;
}
.star-rating a, .star-rating .current-rating {
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:13px;
	line-height:50px;
	outline:none;
	border: none;
	margin:0 !important;
	background-color: transparent !important;
	overflow: hidden;
}
.star-rating a:hover, .star-rating a:active, .star-rating a:focus {
	background-position: left bottom;
}
.star-rating a.one-star {
	width:20%;
	z-index:6;
	text-indent:9999px;
}
.star-rating a.two-stars {
	width:40%;
	z-index:5;
	text-indent:9999px;
}
.star-rating a.three-stars {
	width:60%;
	z-index:4;
	text-indent:9999px;
}
.star-rating a.four-stars {
	width:80%;
	z-index:3;
	text-indent:9999px;
}
.star-rating a.five-stars {
	width:100%;
	z-index:2;
	text-indent:9999px;
}
.star-rating .current-rating {
	z-index:1;
	background-position: left -13px;
}
/* for an inline rater */
.inline-rating {
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}
/* smaller star */
.small-star {
	width:65px;
	height:13px;
}
.small-star, .small-star a:hover, .small-star a:active, .small-star a:focus, .small-star .current-rating {
	background-image: url(../img/rating_star.gif);
	line-height: 13px;
	height: 13px;
	width:70px;
}